{
  "printWidth": 120,
  "parser": "typescript",
  "singleQuote": true,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babylon"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
