{
  "printWidth": 120,
  "parser": "typescript",
  "singleQuote": true,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
