p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.Clock-main {
    font-size: 2rem;
    margin-top: 1rem;
}

.Weather-main {
    display: flex;
    flex-flow: column nowrap;
}

.Weather-main__svg {
    height: 6rem;
    width: 7rem;
}

.Weather-main--strong {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.Weather-main--weak {
    font-size: 1rem;
    opacity: 0.8;
}
.Weather-main--weak > span {
    font-size: 1rem;
    opacity: 0.8;
    margin-left: 0.1rem;
}
.Weather-main--weak svg {
    height: 1rem;
    vertical-align: text-bottom;
    width: 1rem;
}
.Weather-main--weak svg:last-child {
    margin-left: 0.5rem;
}

.Weather-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 1.5rem;
}

.Weather-comming {
    display: flex;
    flex-flow: column nowrap;
}

.Weather-comming--weak {
    font-size: 0.75rem;
    opacity: 0.8;
}
.Weather-comming--weak > span {
    margin-left: 0.1rem;
}
.Weather-comming--weak svg {
    height: 0.75rem;
    width: 0.75rem;
    vertical-align: middle;
}