.News-main {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.News-header {
    font-size: 1rem;
    margin-top: 0;
}
.News-content {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    text-align: center;
    width: 100%;
}
.News-image {
    width: 40%;
}
.News-description {
    font-size: 0.75rem;
}
